In [1]:
import pandas as pd 
import sqlite3

con = sqlite3.connect("FINALDB.db")
cur = con.cursor()

In [2]:
pd.set_option('display.max_columns', None)

In [6]:
'''
%%!
pip install --trusted-host pypi.org ipython-sql
'''

'\n%%!\npip install --trusted-host pypi.org ipython-sql\n'

In [3]:
%load_ext sql

In [4]:
%sql sqlite:///FINALDB.db

In [9]:
pwd

'/Users/macbook/Desktop/projects/Github_Repositories/IBM9_SQL'

In [5]:
df = pd.read_csv("/Users/macbook/Desktop/projects/Github_Repositories/IBM9_SQL/ChicagoCensusData.csv")
df.to_sql("CENSUS_DATA", con, if_exists='replace', index=False,method="multi")

df = pd.read_csv("/Users/macbook/Desktop/projects/Github_Repositories/IBM9_SQL/ChicagoCrimeData.csv")
df.to_sql("CHICAGO_CRIME_DATA", con, if_exists='replace', index=False, method="multi")

df = pd.read_csv("/Users/macbook/Desktop/projects/Github_Repositories/IBM9_SQL/ChicagoPublicSchools.csv")
df.to_sql("CHICAGO_PUBLIC_SCHOOLS", con, if_exists='replace', index=False, method="multi")

566

In [6]:
%%sql
SELECT * FROM CENSUS_DATA LIMIT 1

 * sqlite:///FINALDB.db
Done.

[(1.0, 'Rogers Park', 7.7, 23.6, 8.7, 18.2, 27.5, 23939, 39.0)]

In [7]:
%sql SELECT * FROM CHICAGO_CRIME_DATA LIMIT 1

 * sqlite:///FINALDB.db
Done.

[(3512276, 'HK587712', '2004-08-28', '047XX S KEDZIE AVE', '890', 'THEFT', 'FROM BUILDING', 'SMALL RETAIL STORE', 0, 0, 911, 9, 14.0, 58.0, '6', 1155838.0, 1873050.0, 2004, 41.8074405, -87.70395585, '(41.8074405, -87.703955849)')]

In [8]:
%sql SELECT * FROM CHICAGO_PUBLIC_SCHOOLS LIMIT 1

 * sqlite:///FINALDB.db
Done.

[(610038, 'Abraham Lincoln Elementary School', 'ES', '615 W Kemper Pl', 'Chicago', 'IL', 60614, '(773) 534-5720', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610038.pdf', 'Fullerton Elementary Network', 'NORTH-NORTHWEST SIDE COLLABORATIVE', 'No', 'Standard', 'Not on Probation', 'Level 1', 'Yes', 'Very Strong', 99.0, 'Very Strong', '99', 'Strong', 74.0, 'Strong', 66.0, 'Weak', '65', 'Strong', '70', 'Strong', '56', 'Average', '47', '96.00%', 2.0, '96.40%', '95.80%', '80.1', '43.3', '89.6', '84.9', '60.7', '62.6', '81.9', '85.2', '52', '62.4', '66.3', '77.9', 69.7, 64.4, 0.2, 0.9, 'Yellow', 'Green', '67.1', '54.5', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 813, 33, 'NDA', 1171699.458, 1915829.428, 41.92449696, -87.64452163, 7, 'LINCOLN PARK', 43, 18, '(41.92449696, -87.64452163)')]

# Problem 1: Find the total number of crimes recorded in the CRIME table

In [9]:
%%sql 
SELECT COUNT(*) Num_of_Crime FROM CHICAGO_CRIME_DATA

 * sqlite:///FINALDB.db
Done.

[(533,)]

# Problem 2: List community areas with per capita income less than 11000.

In [10]:
%%sql 
SELECT COMMUNITY_AREA_NAME 
FROM CENSUS_DATA 
WHERE PER_CAPITA_INCOME < 11000

 * sqlite:///FINALDB.db
Done.

[('West Garfield Park',),
 ('South Lawndale',),
 ('Fuller Park',),
 ('Riverdale',)]

# Problem 3: List all case numbers for crimes involving minors?

In [11]:
%%sql 
SELECT CASE_NUMBER 
FROM CHICAGO_CRIME_DATA 
WHERE DESCRIPTION LIKE '%MINOR%'

 * sqlite:///FINALDB.db
Done.

[('HL266884',), ('HK238408',)]

# Problem 4: List all kidnapping crimes involving a child?(children are not considered minors for the purposes of crime analysis)

In [12]:
%%sql
SELECT * FROM CHICAGO_CRIME_DATA 
WHERE PRIMARY_TYPE LIKE '%KIDNAPPING%'

 * sqlite:///FINALDB.db
Done.

[(5276766, 'HN144152', '2007-01-26', '050XX W VAN BUREN ST', '1792', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER', 'STREET', 0, 0, 1533, 15, 29.0, 25.0, '20', 1143050.0, 1897546.0, 2007, 41.87490841, -87.75024931, '(41.874908413, -87.750249307)')]

# Problem 5: What kind of crimes were recorded at schools?

In [13]:
%%sql SELECT DISTINCT(PRIMARY_TYPE) 
FROM CHICAGO_CRIME_DATA 
WHERE UPPER(LOCATION_DESCRIPTION) LIKE '%SCHOOL%' 
ORDER BY PRIMARY_TYPE;

 * sqlite:///FINALDB.db
Done.

[('ASSAULT',),
 ('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('CRIMINAL TRESPASS',),
 ('NARCOTICS',),
 ('PUBLIC PEACE VIOLATION',)]

# Problem 6: List the average safety score for all types of schools.

In [14]:
%%sql 
SELECT  "Elementary, Middle, or High School", ROUND(AVG(SAFETY_SCORE), 2) Avg_Safety_Scores  
FROM CHICAGO_PUBLIC_SCHOOLS
GROUP BY "Elementary, Middle, or High School"

 * sqlite:///FINALDB.db
Done.

[('ES', 49.52), ('HS', 49.62), ('MS', 48.0)]

# Problem 7: List 5 community areas with highest % of households below poverty line

In [15]:
%%sql 
SELECT COMMUNITY_AREA_NAME, PERCENT_HOUSEHOLDS_BELOW_POVERTY 
FROM CENSUS_DATA 
ORDER BY PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC LIMIT 5

 * sqlite:///FINALDB.db
Done.

[('Riverdale', 56.5),
 ('Fuller Park', 51.2),
 ('Englewood', 46.6),
 ('North Lawndale', 43.1),
 ('East Garfield Park', 42.4)]

# Problem 8: Which community area(number) is most crime prone?

In [16]:
%%sql 
SELECT COMMUNITY_AREA_NUMBER,COUNT(COMMUNITY_AREA_NUMBER) AS NUMBER_OF_CRIME
FROM CHICAGO_CRIME_DATA 
GROUP BY COMMUNITY_AREA_NUMBER 
ORDER BY COUNT(COMMUNITY_AREA_NUMBER) DESC LIMIT 3

 * sqlite:///FINALDB.db
Done.

[(25.0, 43), (23.0, 22), (68.0, 21)]

In [17]:
%%sql
SELECT DISTINCT(COMMUNITY_AREA_NAME)
FROM CENSUS_DATA CS, CHICAGO_CRIME_DATA CR 
WHERE CS.COMMUNITY_AREA_NUMBER = CR.COMMUNITY_AREA_NUMBER 
AND CR.COMMUNITY_AREA_NUMBER = 25.0

 * sqlite:///FINALDB.db
Done.

[('Austin',)]

# Problem 9: Use a sub-query to find the name of the community area with highest hardship index.

In [18]:
%%sql 
SELECT COMMUNITY_AREA_NAME 
FROM CENSUS_DATA 
WHERE HARDSHIP_INDEX = (SELECT MAX(HARDSHIP_INDEX) FROM CENSUS_DATA)

 * sqlite:///FINALDB.db
Done.

[('Riverdale',)]

# Problem 10: Use a sub-query to determine the Community Area Name with most number of crimes?

In [42]:
%%sql
select Distinct(CE.COMMUNITY_AREA_NAME) 
from CHICAGO_CRIME_DATA CR, CENSUS_DATA CE
WHERE CE.COMMUNITY_AREA_NUMBER = 
    (SELECT COMMUNITY_AREA_NUMBER 
     FROM CHICAGO_CRIME_DATA 
     GROUP BY COMMUNITY_AREA_NUMBER 
     ORDER BY COUNT(CASE_NUMBER) DESC LIMIT 1)

 * sqlite:///FINALDB.db
Done.

[('Austin',)]

In [43]:
%%sql
SELECT COMMUNITY_AREA_NUMBER 
     FROM CHICAGO_CRIME_DATA 
     GROUP BY COMMUNITY_AREA_NUMBER 
     ORDER BY COUNT(CASE_NUMBER) DESC LIMIT 1

 * sqlite:///FINALDB.db
Done.

[(25.0,)]

# EXTRAS

In [94]:
%sql select * from SCHOOLS LIMIT 1

 * sqlite:///FINALDB.db
Done.

[(610038, 'Abraham Lincoln Elementary School', 'ES', '615 W Kemper Pl', 'Chicago', 'IL', 60614, '(773) 534-5720', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610038.pdf', 'Fullerton Elementary Network', 'NORTH-NORTHWEST SIDE COLLABORATIVE', 'No', 'Standard', 'Not on Probation', 'Level 1', 'Yes', 'Very Strong', 99.0, 'Very Strong', '99', 'Strong', 74.0, 'Strong', 66.0, 'Weak', '65', 'Strong', '70', 'Strong', '56', 'Average', '47', '96.00%', 2.0, '96.40%', '95.80%', '80.1', '43.3', '89.6', '84.9', '60.7', '62.6', '81.9', '85.2', '52', '62.4', '66.3', '77.9', 69.7, 64.4, 0.2, 0.9, 'Yellow', 'Green', '67.1', '54.5', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 813, 33, 'NDA', 1171699.458, 1915829.428, 41.92449696, -87.64452163, 7, 'LINCOLN PARK', 43, 18, '(41.92449696, -87.64452163)')]

In [109]:
%%sql
select SC.NAME_OF_SCHOOL, SC.SAFETY_SCORE, sft.Avg_Safety
from SCHOOLS SC
join (select AVG(SAFETY_SCORE) Avg_Safety from SCHOOLS) sft
    on SC.SAFETY_SCORE >  sft.Avg_Safety
order by SC.SAFETY_SCORE limit 5;

 * sqlite:///FINALDB.db
Done.

[('Bernhard Moos Elementary School', 50.0, 49.50487329434698),
 ('Daniel Hale Williams Prep School of Medicine', 50.0, 49.50487329434698),
 ('Edward Jenner Elementary Academy of the Arts', 50.0, 49.50487329434698),
 ('John C Burroughs Elementary School', 50.0, 49.50487329434698),
 ('Joseph Brennemann Elementary School', 50.0, 49.50487329434698)]

In [114]:
%%sql
select NAME_OF_SCHOOL, SAFETY_SCORE, Avg_Safety
from SCHOOLS
join (select AVG(SAFETY_SCORE) Avg_Safety from SCHOOLS)
order by SAFETY_SCORE limit 5 ;

 * sqlite:///FINALDB.db
Done.

[('Ariel Elementary Community Academy', None, 49.50487329434698),
 ('Arthur R Ashe Elementary School', None, 49.50487329434698),
 ('Barbara Vick Early Childhood & Family Center', None, 49.50487329434698),
 ('Blair Early Childhood Center', None, 49.50487329434698),
 ('Cyrus H McCormick Elementary School', None, 49.50487329434698)]